{% extends 'base.html.twig' %}
{% block title %}Editar Usuario{% endblock %}
{% block body %}
<div class="uk-container uk-margin-large-top">
    <h2>Editar Usuario</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="uk-button uk-button-primary">Actualizar</button>
    {{ form_end(form) }}
    <a href="{{ path('app_user_index') }}">Volver al listado</a>
</div>
{% endblock %}
